<div class="layout">

    <ul>
        <h1> NEW ADDMISSIONS OPEN</h1>
        <div>
            <a class="arts" routerLink="/arts"><i class="fas fa-graduation-cap"></i> Arts</a>
        </div>

        <div>
            <a  class="commerce" routerLink="/commerce"><i class="fas fa-graduation-cap"></i>Commerce</a>
        </div>


        <div>
            <a class="science" routerLink="/science"><i class="fas fa-graduation-cap"></i>Science</a>
        </div>
<!-- 
        <div>
            <a class="engineering" routerLink="/engineering"><i class="fas fa-graduation-cap"></i>Engineering</a>
        </div> -->

        <div>
            <a class="medical" routerLink="/medical"><i class="fas fa-graduation-cap"></i>Medical</a>
        </div>

    </ul>
</div>