<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-toolbar color="primary" class="login-toolbar" fxFlexFill>Login</mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" class="text-input">
          <mat-error class="error" *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" class="text-input">
          <mat-error class="error" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
            Password must be at least 6 characters long.
          </mat-error>
        </mat-form-field>

        <button class="login" mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
