.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgb(116, 162, 247);
}

.login-card {
  width: 200px;
  background-color: hwb(220 98% 0%);
}

.login-title {
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  margin-bottom: 20px;

}

.text-input {
  width: 100%;
  margin-top: 20px;

}

.login {
  width: 50%;
  background-color: rgb(236, 244, 236);
  width: 70px;
}
.error{
  color: red;
  font-size: xx-small;
}
.login-toolbar {
  background-color: rgb(10, 115, 121);
  padding: 0;
  
}
