<div class="container">
  <form (ngSubmit)="navigateToLogin()">
    <h2>SIGNUP HERE</h2>
    <input type="text" name="firstName" placeholder="Enter FirstName.." [(ngModel)]="firstName" /><br>
    <input type="text" name="lastName" placeholder="Enter LastName.." [(ngModel)]="lastName" /><br>
    <input type="email" name="email" placeholder="Enter Email.." [(ngModel)]="email" /><br>
    <input type="password" name="password" placeholder="Enter Password.." [(ngModel)]="password" /><br>
    <button type="submit">Signup</button>
  </form>
</div>
