.custom-form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  background-color: #e2bf86;
}

.form-row {
  display: inline-block;
  justify-content: space-between;
  margin-bottom: 16px;
}

.mat-form-field {
  width: calc(50% - 8px);
}

.mat-card {
  margin-top: 16px;
  width: 100%;
}

.mat-card-header {
  background-color: hsl(0, 38%, 92%);
}

.mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 16px;
}
h1{
 color: rgb(26, 80, 82);
}
.container{
  background-color: cyan;
  width: 820px;
}