<!-- <div class="profile-container">
    <h2>Student Profile</h2>
    <div >
        <p><strong>Father's Name:</strong> <input type="text" [(ngModel)]="fatherName"></p>
        <p><strong>Address:</strong> <input type="text" [(ngModel)]="address"></p>
        <p><strong>Mobile Number:</strong> <input type="tel" [(ngModel)]="mobileNumber"></p>
        <p><strong>PAN Card:</strong> <input type="text" [(ngModel)]="panCard"></p>
        <!-- Add more input fields as needed -->
      <!-- </div>
  <button type="submit">Submit</button>
  </div>
   --> -->